<!--
Exercícios1. Na página de exibição de cursos do seu projeto,
adicione um botão que permita a adição de novos cursos.
No momento, qualquer usuário que acessar a página poderá cadastrar novoscursos.
Use dois componentes Angular: um deles exibe a lista de cursos.
O outro se encarrega deexibir os campos necessários para a entrada de dados e o botão que,
quando clicado, realizar ainserção.
Faça a comunicação dos componentes utilizando binding com @Input e @Output.
2. Liste os cursos com ngFor.
-->

<div class="container">
  <app-colecao-cursos (cursoAdicionado)="onAdicionarCurso($event)"></app-colecao-cursos>
  <div class="row">
    <div class="col-4" *ngFor="let curso of (cursos)">
      <app-curso [curso]= "curso"></app-curso>
    </div>
  </div>
</div>
